<div class="navbar">
  <div class="nav">
    <div class="logo">
      <img src="/assets/img/Emerald-logo.png" alt="" />
    </div>
    <div class="nav_List">
      <ul>
        <li>
          <a href="https://emeraldstay.com/covid-19">COVID-19</a>
        </li>
        <li>
          <a href="https://emeraldstay.com/lease-your-property">Homeowners</a>
        </li>
        <li>
          <a href="https://emeraldstay.com/blog">Blog</a>
        </li>
        <li>
          <a href="https://emeraldstay.com/contact-us">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</div>

